.cabeçalho{
    display: flex;
    align-items: center;
    height: 110px;
}

.container__cabeçalho{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 65%;
}
.imagem__cabeçalho{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 1rem;
    margin-left: 1rem;
}


.nome__cabeçalho{
    font-size: 1.3rem;
    font-weight: var(--peso-fonte-nome);
    color: var(--cor-fonte-nome);
}

.consultas__cabeçalho{
    font-size: 0.9rem;
    font-weight: var(--peso-fonte-consulta);
    color: var(--cor-fonte-consulta);
}