.consultas {
    padding: 0 16px;
    height: calc(100vh - 110px - 58px);
    overflow-y: scroll;
        
}

.consulta_dia{
   
    color: var(--cor-fonte-nome);
    font-weight: var(--peso-fonte-nome);
    font-size: 1rem;
    margin-top: 2rem;
    
}

.consullta__flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__consulta {
    margin-top: 0.5rem;
    background-color: white;
    border-radius: 9px;
    height: 9rem;
    padding: 16px 16px 0;
    margin-bottom: 1rem;
    width: 20.5rem;
}
.container__consulta{
    display: flex;
    justify-content: space-between;
    

}

.consulta__pessoa{
  display: flex;
  align-items: center;
  margin-bottom: 12px;

}

.pessoa__nome {
    color: var(--cor-fonte-nome);
    font-weight: var(--peso-fonte-nome);
    padding-right: .5rem;
}

.consulta__tipo {
    display: flex;
    gap: 0.2rem;
    color: var(--cor-fonte-consulta);
    font-size: var(--fonte-consulta-tamanho);
    font-weight: var(--peso-fonte-consult);
    
}

.chat__consulta {
    margin-top: 0.1rem;
    background: var(--cinza-secundario);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-image: url('../src/icons/Chat.svg');
    background-repeat: no-repeat;
    background-position: center;

}

.card__data{
    color: var(--cor-fonte-nome);
    font-size: 0.75rem;
    margin-left: 1rem;
}

.consulta__foto{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 1rem;
    
}

.consulta__botão{
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
}

.botão{
    width: 9.0rem;
    height: 2.8rem;
    border-radius: 8px;
    min-width: 8.6rem;
    height: 3rem;
}

.video{
    background-color: var(--cor-botão-video);
    color: var(--fonte-botão-cor);
    border: transparent;
}

.audio{
    color: var(--cor-fonte-nome);
    background-color: var(--fonte-botão-cor);
    border: 1px solid #ECECEC ;
}

.endereço{
    background-color: var(--cor-botão-endereço);
    color: var(--fonte-botão-cor);
    width: 18.5rem;
    border: transparent;
}


@media screen and (min-width: 1024px){
    .consullta__flex{
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        
        
    }

    .card__consulta{
        width: 28rem;
        
    }
    .botão{
        min-width: 12.0rem;
        height:3.2rem;
    }
    
    .endereço{
        width: 26rem;
    }
}

@media screen and (min-width: 1366px){
    .consultas{
      
    }
    
    .consulta_dia{
        margin-bottom: 3.5rem;
    }
    
    
    .consullta__flex{
        display: flex;
        
        width: auto;
        column-gap: 5%;
        justify-content: flex-start;
        margin: auto;
    }
    .card__consulta{
        height: 10rem;
        margin-left: 2rem;
    }
    .botão{
        min-width: 12.0rem;
        height: 4rem;
        font-size: 1rem;
    }
}